* {
  //outline: 1px solid red;
}

body {
  background-color: #F5F5F5;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 767px) {
  .content {
    padding-left: 0%;
    padding-right: 0%;
  }
}

.panel-title a {
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}

.navbar-brand {
  align-items: center;
  display: flex;
}

.navbar-brand>img {
  padding: 7px 14px 7px 0px;
}