body {
  background-color: #F5F5F5;
}

.content {
  margin: 0 25% 0 25%;
}

@media (max-width: 767px) {
  .content {
    margin: 0 0 0 0;
  }
}

.panel-title a {
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}

.navbar-brand {
  align-items: center;
  display: flex;
}

.navbar-brand>img {
  margin: 7px 14px 7px 0px;
}
