body {
  background-color: #F5F5F5;
}

.content {
  padding: 0 20% 0 20%;
}

@media (max-width: 767px) {
  .content {
    padding: 0 20% 0 20%;
  }
}

.panel-title a {
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}

.navbar-brand {
  align-items: center;
  display: flex;
}

.navbar-brand>img {
  padding: 7px 14px 7px 0px;
}